
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center" style="color:darkred">Welcome to Trainees Details</h1>
<h3 class="text-center" style="color:antiquewhite">Master Detail Table with StoreProcedure, Groupping and Aggregates</h3>

